# Ignore git files
.gitignore

# Ingore Docker files
Dockerfile
.dockerignore

# Ignore node_modules directory
app/node_modules

# Ignore development files
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

# Ignore npm logs and caches
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace